body{
    background: linear-gradient(#f49f0b, #c3594f, #613a4b);
}

img{
    height: 350px;
    width: 500px;
    border: double 8px whitesmoke;
}

.flexContainer1{
    display: flex;
}

.flexContainer1 div{
    height: 350px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer2{
    display: flex;
}

.flexContainer2 div{
    width: 350px;
    margin-left: 692px;
}

.gif{
    align-self: center;
    height: 350px;
    width: 500px;
}

.flexContainer3{
    display: flex;
}

.flexContainer3 div{
    height: 350px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
