body{
    background: linear-gradient(#f49f0b, #c3594f, #613a4b);
}

img{
    height: 300px;
    width: 500px;
}

#okonomiyaki{
    border: 10px groove rgb(49, 49, 49);
}

#ramen{
    border: 10px groove rgb(49, 49, 49);
}

#castella{
    border: 10px groove rgb(49, 49, 49);
}

#onigiri{
    border: 10px groove rgb(49, 49, 49);
}

.flexContainer1{
    display: flex;
}

.flexContainer1 div{
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.flexContainer2{
    display: flex;
}

.flexContainer2 div{
    width: 500px;
    height: 300px;
    margin-left: 692px;
    border: double 8px whitesmoke;

}

.gif{
    align-self: center;
    height: 350px;
    width: 500px;
}

.flexContainer3{
    display: flex;
}

.flexContainer3 div{
    height: 300px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
