body{
    text-align: center;
    background: linear-gradient(rgb(170, 79, 37),rgb(175, 141, 28));
}

.container{
    border: 8px solid black;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.image{
    border: 8px double whitesmoke;
}

.description{
    border: 8px double whitesmoke;
    font-size: large;
}

.ingridients{
    border: 8px double whitesmoke;
    font-size: large;
}

.recipe{
    border: 8px double whitesmoke;
    font-size: large;
}