body{
    text-align: center;
    background: linear-gradient(rgb(170, 79, 37),rgb(175, 141, 28));
}

.container{
    border: 8px solid black;
    margin-left: 350px;
    margin-right: 350px;
    margin-top: 100px;
    margin-bottom: 100px;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}

.image{
    border: 8px double whitesmoke;
}

img{
    height: auto;
    width: 300px;
}

.description{
    border: 8px double whitesmoke;
    font-size: large;
    color: whitesmoke;
}

.ingridients{
    border: 8px double whitesmoke;
    font-size: large;
    color: whitesmoke;
}

.recipe{
    border: 8px double whitesmoke;
    font-size: large;
    color: whitesmoke;
}